/****************************************/
/*Services*/
/****************************************/
.services-content{
    display: flex;
    flex-direction: column;
}

.services-text{
    padding: 2rem;
}
.services-text h1{
    font-family: 'Futura-Demi',sans-serif;
    font-size: clamp(3rem, calc(5vw + 2rem), 5rem);
    color: white;
    margin: 0 0 2rem 0;
}
.services-list{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 2rem 0;
}
.services-list ul{
    border-radius: 25px;
    padding: 1rem 3rem;
    line-height: 2;
    font-size: clamp(1rem, calc(1vw + .5rem), 1.5rem);
    
}
.services-list li{
    font-family: 'Futura-Light',sans-serif;
}
.services-contact{
    display: flex;
    justify-content: space-evenly;
}
.services-contact a{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 6px;
    padding: .5rem 1rem;
    text-decoration: none;
    font-family: 'Futura-Demi',sans-serif;
    font-size: clamp(.5rem, calc(2vw + .5rem), 1.2rem);
}

.services-contact a i{
    margin-right: .5rem;
}
.services-image{
    height: 100%;
}
.services-image img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
}
.blue-grad{
    background: url(../images/grad-blue.png);
}
.red-grad{
    background: url(../images/grad-red.png);
}
.grey-grad{
    background: url(../images/grad-grey.png);
}
.purple-grad{
    background: rgba(75, 12, 83);
}
.offset{
    background:linear-gradient(180deg,rgba(0,0,0,.4) 0%,rgba(0,0,0,.4) 100%), url(../images/offset.webp);
    background-position: right;
    background-size: cover;
    background-repeat: no-repeat;
}
.barcode{
    background:linear-gradient(180deg,rgba(0,0,0,.4) 0%,rgba(0,0,0,.4) 100%), url(../images/barcode.webp);
    background-position: right;
    background-size: cover;
    background-repeat: no-repeat;
}
.printing{
    background:linear-gradient(180deg,rgba(0,0,0,.4) 0%,rgba(0,0,0,.4) 100%), url(../images/printing2.webp);
    background-position: right;
    background-size: cover;
    background-repeat: no-repeat;
}
.flexographic{
    background:linear-gradient(180deg,rgba(0,0,0,.4) 0%,rgba(0,0,0,.4) 100%), url(../images/flexographic.jpg);
    background-position: right;
    background-size: cover;
    background-repeat: no-repeat;
}
.bg-white-transparent{
    background-color: rgba(255, 255, 255, .2);
}
.bg-black-transparent{
    background-color: rgba(0, 0, 0, .2);
}
@media(min-width:768px){
    .section{
        height: fit-content;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .services-content{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 20px;
        width: 80%;
        padding: 3rem 0;
    }
    .services-list{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 10px;
        margin: 2rem 0;
    }
    .services-list ul{
        line-height: 1.3;
    }
    .services-contact{
        justify-content: start;
        gap: 10px;
    }
    .services-contact a{
        padding: 1rem;
        border-radius: 12px;
    }
    .services-contact a:hover{
        background-color: var(--primary-color);
        color: white;
    }
    .services-image{
        height: 100%;
    }
    .services-image img{
        object-fit: contain;
    }
    .printing{
        background-size: cover;
    }
}